html{
  background-color: darkolivegreen;
}
.container-fluid{
  background-color: darkolivegreen;

}
input[type="text"]{
  background: transparent;
  color: white;
}
input[type="text"]:focus{
  background: transparent;
  color: white;
}
